---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="General Information - Autario Votes - Simcoe County"
  description="General information about the upcoming election in Simcoe County, ON."
>
  <div class="container page-content">
    <h1>General Information</h1>
    <p>Useful sources of election news in Simcoe County</p>
    <section>
      <h2>Media</h2>
      <h3>Barrie</h3>
      <ul>
        <li><a href="https://www.ctvnews.ca/barrie/" target="_blank">CTV News Barrie</a></li>
        <li><a href="https://barrie360.com" target="_blank">Barrie360</a></li>
        <li><a href="https://www.rogerstv.com/barrie/home" target="_blank">Rogers TV Barrie</a></li>
      </ul>
      <h3>Orillia</h3>
      <ul>
        <li><a href="https://www.orilliamatters.com/local-news" target="_blank">Orillia Matters</a></li>
      </ul>
    </section>
  </div>
</Layout>